.block1 {
    width: 100%;
    height: 1064px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to bottom, #ffffff , #C2CDFF);
    font-family: 'Montserrat', sans-serif;
    font-style:normal;
    letter-spacing: 0.03em;
    gap:16px;
}

/* .block1-icon {

} */

.block1-title {
    font-size: 96px;
    margin-top: 96px;
    color: #1B314B;
}

.block1-text1 {
    color: #1B314B;
}

.block1-text {
    font-size: 32px;
    margin-top: 32px;
    color: #1B314B;
}

.block1-fileblock {
    width: 893px;
    height: 400px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    border: 1px dashed #1B314B;
}

.block1-button__style {
    margin-top: 32px;
}

.block1-text2 {
    color: #7e93ad;
}